---
layout: default
---

<h2 class="article__title article__title--single">Welcome!</h2>

<ul>
  {%for post in site.posts limit:5 %}
    <div class="arch-item">
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="arch-title">{{ post.title }}</a>
        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
      </li>
      {% if post.description %}<div class="arch-desc">{{ post.description }}</div>{% endif %}
    </div>
  {% endfor %}
</ul>

<!--  {% for post in site.posts limit:5 %} -->
    <!-- article -->
<!--    <article class="article">
      <h2 class="article__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <time class="article__date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      <p class="article__excerpt">{{ post.excerpt | truncate: 160 }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="article__more">Read more »</a>
    </article>
-->
    <!-- / article -->
<!--  {% endfor %}-->