{{ define "head" }}
<link rel="stylesheet" href='{{ "css/list.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main id="main" class="archive">

  {{ if eq .Page.Type "tags" }}
    <h1>#{{ .Page.Title | urlize }}</h1>
  {{ else if eq .Page.Type "categories" }}
    <h1>Category: {{ .Page.Title }}</h1>
  {{ end }}
  
  {{ $pages := where .Data.Pages "Type" "posts" }}
  {{ range $pages.GroupByDate "2006-01" }}
  <div class="post-group">
    <h2>{{ dateFormat "January 2006" (printf "%s-01" .Key) }}</h2>
    <ul>
      {{ range .Pages }}
      <li>
        <a class="link" {{ if isset .Params "externallink" }}href="{{ .Params.externalLink }}"{{ else }}href="{{ .Permalink }}"{{ end }}>{{ .Title }} {{ if isset .Params "externallink" }}<i class="fas fa-external-link-alt"></i>{{ end }}</a>
        <time>{{ .PublishDate.Format .Site.Params.dateFormat }}</time>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</main>
{{ end }}
