<ul>
  {{ $icon_class_name := .Scratch.Get "icon_class_name"}}
  {{ if .Description }}
    {{ .Scratch.Set "description" .Description }}
  {{ else }}
    {{ .Scratch.Set "description" .Summary }}
  {{ end }}
  {{ $description := .Scratch.Get "description" }}
  <li>
    <a class="icon" href="mailto:?subject={{ .Title }}&body=Check out this article: {{ .Permalink }}" aria-label="Email">
      <i class="fas fa-envelope {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://getpocket.com/save?url={{ .Permalink }}&title={{ .Title }}" aria-label="Pocket">
      <i class="fab fa-get-pocket {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}" aria-label="Hacker News">
      <i class="fab fa-hacker-news {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
</ul>
