.shineThrough:hover a {
    font-weight: bold;
}

.shineThrough:hover span {
    font-weight: bold;
}

.projectListItem {
    margin-top: 0.65em;
    list-style: none;
    padding-left: 0.8em;
    border-left: solid 0.3em;
}

.projectListItem:hover {
    padding-left: 0.6em;
    border-left: solid 0.5em;
}

.threatIntelListItem {
    border-left-color: #737373;
}

.threatIntelListItem:hover {
    border-left-color: #737373;
}

.programmingListItem {
    border-left-color: #5C5C5C;
}

.programmingListItem:hover {
    border-left-color: #5C5C5C;
}

.miscListItem {
    border-left-color: #454545;
}

.miscListItem:hover {
    border-left-color: #454545;
}

/* STYLINGS FOR THE CATEGORIES. */
.threat-intelligence {
    background: #737373;
}

.programming {
    background: #5C5C5C;
}

.miscellaneous {
    background: #454545;
}
/* END STYLINGS FOR THE CATEGORIES. */
