.shineThrough:hover a {
    /*font-weight: bold;*/
    text-decoration: underline dotted;
}

.shineThrough:hover span {
    /*font-weight: bold;*/
    text-decoration: underline dotted;
}

.projectListItem {
    margin-top: 0.65em;
    list-style: none;
    padding-left: 0.8em;
    border-left: solid 0.3em;
}

.projectListItem:hover {
    padding-left: 0.6em;
    border-left: solid 0.5em;
}

.threatIntelListItem {
    border-left-color: #888888;
}

.threatIntelListItem:hover {
    border-left-color: #888888;
}

.programmingListItem {
    border-left-color: #515151;
}

.programmingListItem:hover {
    border-left-color: #515151;
}

.miscListItem {
    border-left-color: #1B1B1B;
}

.miscListItem:hover {
    border-left-color: #1B1B1B;
}

/* STYLINGS FOR THE CATEGORIES. */
/*.threat-intelligence {
    background: #888888;
}

.programming {
    background: #515151;
}

.miscellaneous {
    background: #1B1B1B;
}*/
/* END STYLINGS FOR THE CATEGORIES. */
