<section>
{{ $year := delimit .Params "" }}
{{ $filename := (printf "reading%s" $year) }}
{{ $readingList := (index .Site.Data $filename) }}

<!-- not sure why, but the `with` block below is required to process the length of the reading list -->
{{ with $readingList }}
Books read in {{ $year }}: {{ len . }}
{{ end }}

<ol>
    {{ range $readingList }}
        <li>
            <details>
                <summary>{{ .title | markdownify }} [{{ .rating }}]</summary>
                {{ if isset . "authors" }}
                    Author(s):
                    <ul>
                        {{ range .authors }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ if isset . "notes" }}
                    Notes:
                    <ul>
                        {{ range .notes }}
                            <li>{{ . | markdownify }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ if isset . "privateNotes" }}
                    Private Notes:
                    <ul>
                        {{ range .privateNotes }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                <br>
            </details>
        </li>
    {{ end }}
</ol>
</section>
