<section>
{{ $filename := . | (.Get 0) }}
{{ $readingList := (index .Site.Data $filename).list }}
{{ $year := substr $filename 7 }}

Books read in {{ $year }}: {{ len $readingList }}

<ol>
    {{ range $readingList }}
        <li>
            <details>
                <summary>{{ .title | markdownify }} [{{ .rating }}]</summary>
                {{ if isset . "authors" }}
                    Author(s):
                    <ul>
                        {{ range .authors }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ if isset . "notes" }}
                    Notes:
                    <ul>
                        {{ range .notes }}
                            <li>{{ . | markdownify }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ if isset . "privateNotes" }}
                    Private Notes:
                    <ul>
                        {{ range .privateNotes }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
                <br>
            </details>
        </li>
    {{ end }}
</ol>
</section>
