<script src="https://cdn.jsdelivr.net/pyodide/v0.18.0/full/pyodide.js"></script>

<button onclick="evaluatePython();">Run</button>

<div>Output:</div>
<textarea id="output" style="width: 100%;" rows="6" disabled></textarea>

<script>
    const output = document.getElementById("output");
    const code = document.getElementsByTagName("code")[0];

    function print(s) {
        output.value += s + "\n";
        logTa = document.getElementById("output")
        logTa.scrollTop = logTa.scrollHeight;
    }

    output.value = "Initializing...\n";
    // init Pyodide
    async function main() {
        let pyodide = await loadPyodide({
            indexURL: "https://cdn.jsdelivr.net/pyodide/v0.18.0/full/",
        });

        // await pyodide.loadPackage('micropip');
        // await pyodide.runPythonAsync(`
                // import micropip
                // await micropip.install('ioc-fanger')
                // `);

        output.value += "Ready!\n";
        code.contentEditable = "true";

        return pyodide;
    }
    let pyodideReadyPromise = main();

    async function evaluatePython() {
        let pyodide = await pyodideReadyPromise;
        try {
            let output = pyodide.runPython(code.innerText);
            print(output);
        } catch (err) {
            print(err);
        }
    }
</script>
